<ion-content class="ion-padding">

  <div class="login-wrap">

    <div class="login-marca">
      <div class="login-logo">MF</div>
      <h1>Mural Firebase</h1>
      <p>Entre para publicar recados</p>
    </div>

    <ion-card>
      <ion-card-content>

        <ion-item lines="none">
          <ion-label position="stacked">E-mail</ion-label>
          <ion-input
            type="email"
            [(ngModel)]="email"
            placeholder="ex: aluno@ifsc.edu.br">
          </ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Senha</ion-label>
          <ion-input
            type="password"
            [(ngModel)]="senha"
            placeholder="Digite sua senha">
          </ion-input>
        </ion-item>

        <p class="msg-erro" *ngIf="mensagemErro">
          {{ mensagemErro }}
        </p>

        <ion-button expand="block" (click)="login()">
          Entrar
        </ion-button>

        <ion-button expand="block" fill="clear" routerLink="/cadastro">
          Criar uma conta
        </ion-button>

      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
